[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[packages]
"boto3" = ">=1.9.133"
requests = ">=2.31.0"
urllib3 = ">=1.26.17,<2.4"

[dev-packages]
pyperclip = "*"

[requires]
python_version = "3.12"
